/* * {
  margin: 0;
  padding: 0;
} */

body {
  font-family: arial;
}

.container {
  margin: 0 auto;
  width: 1280px;
}

.bg-dark {
  background-color: #445162;
  color: #ffffff;
}

.padding-side {
  padding: 50px;
}

.header-wrp {
  min-height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-wrp {
  width: 100%;
  min-height: 100px;
}

.footer-wrp {
  min-height: 530px;
}

.header-cnt > h3 {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.header-cnt-list-item {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  position: relative;
  letter-spacing: 0;
}

.header-cnt-list-item:before {
  content: "";
  width: 25px;
  height: 19px;
  display: block;
  position: absolute;
  background-image: url(img/check_icon_346.png);
  background-size: cover;
  top: 8px;
  left: -30px;
}

.header-cnt-list {
  margin: 50px 0 0 0;
  list-style-type: none;
}

.header-img-wrp {
  text-align: right;
}

.header-img {
  width: 469px;
  height: 214px;
}

.lane {
  background-color: #f5f5f5;
}

.cnt-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  text-align: center;
  margin: 0 0 30px 0;
}

.style-text-middle p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-align: justify;
}

.about-wrp {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 100px;
}

.about-wrp > img {
  width: 430px;
  height: 245px;
}

.about-cnt-title {
  text-align: left;
  margin-bottom: 20px;
}

.about-cnt-text {
  margin: 0 0 20px 0;
}

.plus-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 35px;
  grid-column-gap: 20px;
}

.plus-item {
  padding: 0 0 0 40px;
  position: relative;
}

.plus-item > p {
  margin: 0;
}

.plus-item:before {
  content: "+";
  display: block;
  width: 32px;
  height: 32px;
  background-color: #445161;
  color: white;
  font-size: 28px;
  text-align: center;
  line-height: 32px;
  position: absolute;
  top: 0;
  left: 0px;
}

.screenshot-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px 15px;
}

.screenshot-item {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 15px;
}

.screenshot-item h5 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #445161;
  margin: 0 0 15px 0;
}

.screenshot-item p {
  margin: 0;
}

.review-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px 24px;
}

.review-item {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 26px;
}

.review-item-text-wrp {
  background: #ebebeb;
  border-radius: 5px;
  position: relative;
  padding: 16px 20px;
  text-align: justify;
}

.review-item-text-wrp:after {
  content: "";
  position: absolute;
  left:-28px;
  bottom: 85px;
  border: 15px solid transparent;
  border-right: 15px solid #ebebeb;
}

.review-item-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: italic;
  color: #333333;
  margin: 0;
}

.review-item-subtext {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #989898;
  margin: 15px 0 0 0;
}

.buy-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 45px;
}

.buy-item {
  border-radius: 4px;
  border: 4px solid #445162;
  align-self: end;
  background-color: #445162;
}

.buy-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
  background-color: #445162;
  text-align: center;
  margin: 0;
  padding: 16px;
}

.buy-price {
  font-size: 40px;
  line-height: 30px;
  font-weight: 400;
  color: #445162;
  text-align: center;
  padding: 18px 0;
  margin: 0 0 20px 0;
  background-color: #ffffff;
}

.buy-text {
  margin: 0;
  padding: 0 20px;
  background-color: #445162;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  white-space: pre-line;
}

.buy-button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #445161;
  display: block;
  margin: 20px;
  padding: 14px 0;
  border-radius: 4px;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 2px #989898;
}

.buy-button:hover {
  background-color: #f5f5f5;
}

.buy-button:active {
  background-color: #989898;
}

.contact-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 30px 0;
}

.contact-wrp {
  display: flex;
  justify-content: center;
}

.contact-form {
  width: 500px;
  text-align: center;
}

.contact-form > input[type="text"], input[type="email"], textarea {
  width: 100%;
  display: block;
  margin: 0 0 20px 0;
  padding: 14px 10px;
  border-radius: 4px;
}

.contact-form > input[type="submit"] {
  width: 140px;
  padding: 14px 0;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #445162;
  border: 1px solid #ffffff;
}

.contact-form > input[type="submit"]:hover {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.contact-form > input[type="submit"]:active {
  background-color: #989898;
  border-color: #989898;
}

.social-list {
  margin: 0 0 0 46px;
  list-style: none;
}

.social-item {
  display: flex;
  align-items: center;
  margin: 0 0 18px 0;
}

.social-item > img {
  width: 24px;
  height: 24px;
}

.social-item > p {
  margin: 0 0 0 5px;
}

.footer-copy-wrp {
  height: 26px;
  text-align: center;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.footer-copy-wrp > p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #989898;
  margin: 0;
  align-self: center;
}
