@import 'variables'
@import 'mixins'
@import 'header'
@import 'footer'
@import 'main'

body
  font-family: font-type
  background: url(../img/photo-of-snow-field-near-trees-1978126.jpg)

.container {
  margin: 0 auto;
  width: width
}

.bg-dark
    opacity: $opacity
    background-color: $color.GreyDark
    color: $color.White

.bg-white
  opacity: $opacity
  background-color: $color.White

.padding-side
  padding: 50px


.header
  &-wrp
    min-height: 300px
    grid-col 0 0 1fr 1fr

  &-cnt
    & > h3
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3)
      font-size: 60px
      font-weight: 400
      line-height: 1.2
      margin: 0
    &-list
      margin: 50px 0 0 0
      list-style-type: none
      &-item
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3)
        font-size: 20px
        font-weight: 400
        line-height: 36px
        position: relative
        &:before
            content: ""
            width: 25px
            height: 19px
            display: block
            position: absolute
            background-image: url(img/check_icon_346.png)
            background-size: cover
            top: 8px
            left: -30px
  &-img
    width: 469px
    height: 214px
  &-title
      font-size: 30px
      line-height: 36px
      font-weight: 400
      color: $color.GreyDark
      text-align: center
      margin: 0 0 30px 0

.main
  &-wrp
    width 100%
    min-height: 100px

.footer
  &-wrp
    min-height: 530px

.lane
  background-color: $color.GreyLight
  opacity: $opacity

.cnt-title
    font-size: 30px
    line-height: 36px
    font-weight: 400
    color: $color.GreyDark
    text-align: center
    margin: 0 0 30px 0

.style-text-middle p
  font-size: 16px
  line-height: 24px
  font-weight: 400
  color: $color.BlackLight
  text-align: justify;

.about
  &-wrp
    grid-col 0 100px 2fr 1fr
    & > img
      width: 430px
      height: 245px
  &-cnt-text
    margin: 0 0 20px 0

.plus
  &-list
    grid-col: 35px 20px 1fr 1fr
  &-item
    padding: 0 0 0 40px
    position: relative
    & > p
      margin: 0
    &:before
      content: "+"
      display: block
      width: 32px
      height: 32px
      background-color: $color.GreyDark
      color: White
      font-size: 28px
      text-align: center
      line-height: 32px
      position: absolute
      top: 0
      left: 0

.screenshot
  &-list
    grid-col: 30px 15px 1fr 1fr
  &-item
    grid-col: 0 15px auto auto
    & h5
      font-size:24px
      line-height: 30px
      font-weight: 400;
      color: $color.GreyDark
      margin: 0 0 15px 0
    & p
      margin 0

.review
  &-list
    grid-col: 32px 32px 1fr 1fr
  &-item
    grid-col: 0 26px auto auto
    &-text
      font-size: 14px
      line-height: 18px
      font-weight: 400
      font-style: italic
      color: $color.Grey
      margin: 0
      &-wrp
        background: $color.ColorReview
        border-radius: 5px
        position: relative
        padding: 16px 20px
        text-align: justify
        &:after
          content: ""
          position: absolute
          left: -28px
          bottom: 85px
          border: 15px solid transparent
          border-right: 15px solid $color.ColorReview
    &-subtext
      font-size: 14px
      line-height: 18px
      font-weight: 400
      color: $color.Grey
      margin 15px

.buy
  &-list
    grid-col: 0 45px 1fr 1fr 1fr
  &-item
    border-radius: 4px
    border: 2px solid $color.GreyDark
    align-self: end
    background-color: $color.GreyDark
  &-title
    font-size: 24px
    line-height: 30px
    font-weight: 400
    color: $color.White
    background-color: $color.GreyDark
    text-align: center
    margin: 0
    padding: 16px
  &-price
    font-size: 40px
    line-height: 30px
    font-weight: 400
    color: $color.GreyDark
    text-align: center;
    padding: 18px 0;
    margin: 0 0 20px 0;
    background-color: $color.White
  &-text
    margin: 0
    padding: 0 20px
    background-color: $color.GreyDark
    font-size: 16px
    line-height: 24px
    font-weight 400
    color: $color.White
    White-space: pre-line
  &-button
    font-size: 18px
    line-height: 18px
    font-weight: 700
    color: $color.GreyDark
    display: block
    margin: 20px
    padding: 14px 0
    border-radius: 4px
    background-color: $color.White
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 2px $color.Grey
    &:hover
      background-color: $color.GreyLight
    &:active
      background-color: $color.Grey

.contact
  &-title
    font-size: 30px
    line-height: 36px
    font-weight: 400
    text-align: center;
    margin: 0 0 30px 0
  &-wrp
    display: flex;
    justify-content: center
  &-form
    width: 500px
    text-align: center
    & input[type=text],input[type=email],textarea
      width: 100%
      display: block
      margin: 0 0 20px 0
      padding: 14px 10px
      border-radius: 4px
    & input[type="submit"]
      width: 140px
      padding: 14px 0
      border-radius: 4px
      background-color: $color.White
      font-size: 16px
      line-height: 24px
      font-weight: 700
      text-transform: uppercase
      color: $color.GreyDark
      border: 1px solid $color.White
      &:hover
        background-color: $color.GreyLight
        border-color: $color.GreyLight
      &:active
        background-color: $color.Grey
        border-color: $color.Grey

.social
  &-list
    margin: 0 0 0 46px
    list-style: none
  &-item
    display: flex
    align-items: center
    margin: 0
  & > img
    width: 24px
    height: 24px
  & > p
    margin: 0 0 0 5px;

.footer-copy-wrp
  opacity: $opacity
  height: 26px
  text-align: center
  background-color: $color.GreyLight
  display: flex
  justify-content: center
  & > p
    font-size: 14px
    line-height: 18px
    font-weight: 400
    color: $color.Grey
    margin: 0
    align-self: center
