@import 'variables'
@import 'mixins'
@import 'header'
@import 'footer'
@import 'main'

body
  font-family: font-type
  background: url(../img/photo-of-snow-field-near-trees-1978126.jpg)

.container {
  margin: 0 auto;
  width: width
}

.bg-dark
    opacity: $opacity
    background-color: $color.GreyDark
    color: $color.White

.bg-white
  opacity: $opacity
  background-color: $color.White

.padding-side
  padding: 50px
