font-type = arial
width = 1280px

$opacity = 0.95

$color = {
  "BlackLight": #333333,
  "GreyDark": #445162,
  "Grey": #989898,
  "GreyLight": #f5f5f5,
  "White": #ffffff,
  "ColorReview" : #ebebeb
}
